<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head lang="<% if (typeof language !== 'undefined') { %><%- language %><% } else { %>en<% } %>">

    <% include admin/includes/head.ejs %>

    <style>
        html{height:100%;min-height:100%;margin:0;padding:0}body{position:relative;height:100%;min-height:100%;margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;font-size:13px;line-height:20px}#error-container{height:100%;min-height:100%;width:100%;background-image: url("/themes/default/public/admin/images/theme/dark/404.png");background-size:100% 100%;}#error-box{height:100%;min-height:100%;width:380px;padding:60px 40px 40px}header h1{width:100%;float:left;font-size:80px;font-weight:700;line-height:80px;margin:5px 0}header h2{width:100%;float:left;font-size:16px;font-weight:400;margin:0}.error-content{float:left;width:100%;margin:30px 0}.breadcrumb{float:left;width:100%;margin:30px 0 0}.breadcrumb a:hover{text-decoration:underline}
    </style>

</head>
<body>
<div id="error-container" class="clearfix">
    <div id="error-box">
        <header>
            <h1><% if (typeof status !== 'undefined') { %><%- status %><% } else { %>Error<% } %></h1>
            <h2><% if (typeof language !== 'undefined' && language === 'ru') { %>Ошибка<% } else { %>Error<% } %></h2>
            <ul class="breadcrumb">
                <li><a href="/"><% if (typeof language !== 'undefined' && language === 'ru') { %>Главная<% } else { %>Home<% } %></a></li>
                <li><a href="javascript:void(0)" onclick="window.history.back();"><% if (typeof language !== 'undefined' && language === 'ru') { %>Назад<% } else { %>Back<% } %></a></li>
            </ul>
        </header>
        <div class="error-content">
            <form action="/<% if (typeof search !== 'undefined') { %><%- search %><% } else { %>search<% } %>/title" method="get">
                <div class="input-group">
                    <input class="form-control" placeholder="<% if (typeof language !== 'undefined' && language === 'ru') { %>Название фильма<% } else { %>Title movie<% } %>" type="text" name="q">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="fa fa-search"></span> <% if (typeof language !== 'undefined' && language === 'ru') { %>Найти<% } else { %>Search<% } %></button>
                </span>
                </div>
            </form>
        </div>
        <div class="error-content">
            <% if (typeof message !== 'undefined') { %><%= message %><% } %>
        </div>
    </div>

</div>
</body>
</html>